<section class="section-new-year-2023-10">
  <div class="section-10__screenshots section-10__screenshots-desk">
    <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide10/Arabic-promo-F1-tickets-screenshot.webp" alt="Arabic-promo-F1-tickets-screenshot" class="section-10__arabicpromo">
    <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide10/CN-FxPro-Lucky-Draw-6-screenshot.webp" alt="CN-FxPro-Lucky-Draw-6-screenshot" class="section-10__luckydraw">
    <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide10/Local-Holidays-Promo-Asia-screenshot.webp" alt="Local-Holidays-Promo-Asia-screenshot" class="section-10__promoasia">
  </div>
  <div class="section-10__screenshots section-10__screenshots-mob">
    <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide10/Arabic-promo-F1-tickets-screenshot-mob.webp" alt="Arabic-promo-F1-tickets-screenshot" class="section-10__arabicpromo">
    <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide10/CN-FxPro-Lucky-Draw-6-screenshot-mob.webp" alt="CN-FxPro-Lucky-Draw-6-screenshot" class="section-10__luckydraw">
    <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide10/Local-Holidays-Promo-Asia-screenshot-mob.webp" alt="Local-Holidays-Promo-Asia-screenshot" class="section-10__promoasia">
  </div>
  <div class="container">
    <div class="section-10__header">
      <h2 class="section-10__title" [fxTranslate]="'new_year_2023_text_47'"></h2>
      <a class="section-10__logo" mainWebsiteUrl target="_blank">
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
          alt="fxPro-logo"
          class="section-10__logo-img"
        >
      </a>
    </div>
    <div class="section-10__wrapper">
      <p class="section-10__info" [fxTranslate]="'new_year_2023_text_48'"></p>
      <p class="section-10__description" [fxTranslate]="'new_year_2023_text_49'"></p>
    </div>
  </div>
</section>
