<section class="section-new-year-2023-14">
  <div class="background">
    <canvas *ngIf="isDesktop"
            class="new-year-2023-slide-14"
            id="new-year-2023-slide-14">
    </canvas>
    <div *ngIf="!isDesktop"
         class="background__mobile">
    </div>
  </div>
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/F-left.svg"
       class="f-right">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/F-right.svg"
       class="f-left">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/new-year-vector.svg"
       class="vector vector-1">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/new-year-vector.svg"
       class="vector vector-2">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/new-year-vector.svg"
       class="vector vector-3">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/new-year-wector-2.svg"
       class="vector vector-4">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/new-year-wector-2.svg"
       class="vector vector-5">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/new-year-wector-2.svg"
       class="vector vector-6">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/new-year-wector-2.svg"
       class="vector vector-7">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/new-year-wector-2.svg"
       class="vector vector-8">
  <div class="section-14__header">
    <a class="section-14__logo"
       target="_blank"
       mainWebsiteUrl>
      <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide14/FxPro_Logo_Main_RedBG.svg"
           alt="fxPro-logo"
           class="section-14__logo-img">
    </a>
  </div>
  <div class="container">
    <div class="section-14__content">
      <div class="section-14__descr"
           [fxTranslate]="'new_year_2023_text_63'"></div>
      <div class="section-14__wishing"
           [fxTranslate]="'new_year_2023_text_64'"></div>
    </div>
    <div *ngIf="isDesktop"
         class="section-14__footer">
      <footer></footer>
    </div>
  </div>
</section>