<section class="section-new-year-2023-9">
  <div class="section-9__overlay"></div>
  <video #videoNewYear2023 class="section-9__background" autoplay loop muted playsinline>
    <source src="https://direct-landings.azureedge.net/assets/video/DRONE-720SD_GRADED.mp4" type="video/mp4">
  </video>
  <div class="container">
    <div class="section-9__header">
      <h2 class="section-9__title" [fxTranslate]="'new_year_2023_text_31'"></h2>
      <a class="section-9__logo" mainWebsiteUrl target="_blank">
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg" alt="fxPro-logo" class="section-9__logo-img">
      </a>
    </div>
    <div class="section-9__wrapper">
      <ul class="section-9__list">
        <li class="section-9__item">
          <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide9/United-Kingdom-ivcon.svg" alt="United-Kingdom-flag" class="section-9__item-icon">
          <h4 class="section-9__item-country" [fxTranslate]="'new_year_2023_text_32'"></h4>
          <p class="section-9__item-winners" [fxTranslate]="'new_year_2023_text_33'"></p>
        </li>
        <li class="section-9__item">
          <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide9/Hungary-icon.svg" alt="Hungary-flag" class="section-9__item-icon">
          <h4 class="section-9__item-country" [fxTranslate]="'new_year_2023_text_34'"></h4>
          <p class="section-9__item-winners" [fxTranslate]="'new_year_2023_text_35'"></p>
        </li>
        <li class="section-9__item">
          <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide9/Singapore-icon.svg" alt="Singapore-flag" class="section-9__item-icon">
          <h4 class="section-9__item-country" [fxTranslate]="'new_year_2023_text_36'"></h4>
          <p class="section-9__item-winners" [fxTranslate]="'new_year_2023_text_37'"></p>
        </li>
      </ul>
      <ul class="section-9__list">
        <li class="section-9__item">
          <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide9/Japan-icon.svg" alt="Japan-flag" class="section-9__item-icon">
          <h4 class="section-9__item-country" [fxTranslate]="'new_year_2023_text_38'"></h4>
          <p class="section-9__item-winners" [fxTranslate]="'new_year_2023_text_39'"></p>
        </li>
        <li class="section-9__item">
          <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide9/Qatar-icon.svg" alt="Qatar-flag" class="section-9__item-icon">
          <h4 class="section-9__item-country" [fxTranslate]="'new_year_2023_text_40'"></h4>
          <p class="section-9__item-winners" [fxTranslate]="'new_year_2023_text_41'"></p>
        </li>
        <li class="section-9__item">
          <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide9/USA-icon.svg" alt="USA-flag" class="section-9__item-icon">
          <h4 class="section-9__item-country" [fxTranslate]="'new_year_2023_text_42'"></h4>
          <p class="section-9__item-winners" [fxTranslate]="'new_year_2023_text_43'"></p>
        </li>
        <li class="section-9__item">
          <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide9/Brazil-icon.svg" alt="Brasil-flag" class="section-9__item-icon">
          <h4 class="section-9__item-country" [fxTranslate]="'new_year_2023_text_44'"></h4>
          <p class="section-9__item-winners" [fxTranslate]="'new_year_2023_text_43'"></p>
        </li>
      </ul>
    </div>
    <div class="section-9__info">
      <div class="section-9__text">
        <div [fxTranslate]="'new_year_2023_text_45'"></div>
      </div>
      <div class="section-9__youtube">
        <a href="https://www.youtube.com/watch?v=LVC3M3fmbp4" target="_blank">
          <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide9/youtube-img.webp" alt="youtube">
        </a>
        <div class="section-9__youtube-wrapper">
          <p class="section-9__youtube-info" [fxTranslate]="'new_year_2023_text_46'"></p>
          <a target="_blank" href="https://www.youtube.com/watch?v=LVC3M3fmbp4" class="section-9__youtube-link">
            →
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
