<section class="section-new-year-2023-4">
  <div class="background"></div>
  <div class="section-4__content">
    <div class="section-4__header">
      <h2 class="section-4__title"
          [fxTranslate]="'new_year_2023_text_10'">
      </h2>
      <a class="section-4__logo"
         target="_blank"
         mainWebsiteUrl>
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
             alt="fxPro-logo"
             class="section-4__logo-img">
      </a>
    </div>
    <div class="section-4__blocks">
      <div class="section-4__block section-4__block_1">
        <div class="title"
             [fxTranslate]="'new_year_2023_text_11'">
        </div>
        <div class="descr"
             [fxTranslate]="'new_year_2023_text_12'">
        </div>
      </div>
      <div class="section-4__block section-4__block_2">
        <div class="title"
             [fxTranslate]="'new_year_2023_text_13'">
        </div>
        <div class="descr"
             [fxTranslate]="'new_year_2023_text_14'">
        </div>
      </div>
      <div *ngIf="!isEliteHidden"
           class="section-4__block section-4__block_3">
        <div class="title"
             [fxTranslate]="'new_year_2023_text_15'">
        </div>
        <div class="descr"
             [fxTranslate]="'new_year_2023_text_16'">
        </div>
      </div>
    </div>
    <div class="section-4__description">
      <div class="section-4__description_left"
           [fxTranslate]="'new_year_2023_text_17'">
      </div>
      <div class="section-4__description_right"
           [fxTranslate]="'new_year_2023_text_18'">
      </div>
    </div>
  </div>
</section>