<section class="section-new-year-2023-12">
  <div class="section-12__screenshots">
    <img class="section-12__screenshots-1 desk" src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide12/fxpro-screenshot.webp">
    <img class="section-12__screenshots-2 desk" src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide12/indices-screenshot.webp">
    <img class="section-12__screenshots-3 desk" src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide12/trade-on-mobile-screenshot.webp">
  </div>
  <div class="container">
    <div class="section-12__header">
      <h2 class="section-12__title" [fxTranslate]="'new_year_2023_text_54'"></h2>
      <a target="_blank" class="section-12__logo" mainWebsiteUrl>
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
          alt="fxPro-logo"
          class="section-12__logo-img"
        >
      </a>
    </div>
    <div class="section-12__screenshots">
      <img class="section-12__screenshots-4 mob" src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide12/fxpro-screenshot-mob.webp">
      <img class="section-12__screenshots-5 mob" src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide12/indices-screenshot-mob.webp">
      <img class="section-12__screenshots-6 mob" src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide12/trade-on-mobile-screenshot-mob.webp">
    </div>
    <div class="section-12__wrapper">
      <a target="_blank" mainWebsiteUrl class="section-12__link">
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
          class="section-12__link-logo"
        >
        <p class="section-12__link-text" [fxTranslate]="'new_year_2023_text_55'"></p>
      </a>
      <p class="section-12__text" [fxTranslate]="'new_year_2023_text_56'"></p>
    </div>
  </div>
</section>
