<section class="section-new-year-2023-7">
  <div class="section-7__content">
    <div class="background">
      <img class="background__image background__image_desktop"
           src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide7/mma.webp"
           alt="FxPro-sponsored MMA participant.">
    </div>
    <div class="section-7__header">
      <h2 class="section-7__title"
          [fxTranslate]="'new_year_2023_text_25'">
      </h2>
      <a class="section-7__logo"
         target="_blank"
         mainWebsiteUrl>
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
             alt="fxPro-logo"
             class="section-7__logo-img">
      </a>
    </div>
    <div class="section-7__description">
      <div class="section-7__description_left"
           [fxTranslate]="'new_year_2023_text_26'">
      </div>
      <div class="section-7__description_right"
           [fxTranslate]="'new_year_2023_text_27'">
      </div>
    </div>
  </div>
</section>