<section class="section-new-year-2023-2">
  <div class="background">
  </div>
  <div class="container">
    <div class="section-2__header">
      <h2 class="section-2__title"
          [fxTranslate]="'new_year_2023_text_4'">
      </h2>
      <a class="section-2__logo"
         target="_blank"
         mainWebsiteUrl>
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
             alt="fxPro-logo"
             class="section-2__logo-img">
      </a>
    </div>
    <div class="section-2__awards">
      <div class="section-2__award section-2__award_1"></div>
      <div class="section-2__award section-2__award_2"></div>
      <div class="section-2__award section-2__award_3"></div>
      <div class="section-2__award section-2__award_4"></div>
      <div class="section-2__award section-2__award_5"></div>
      <div class="section-2__award section-2__award_6"></div>
      <div class="section-2__award section-2__award_7"></div>
    </div>
    <div class="section-2__description">
      <div class="section-2__description_left"
           [fxTranslate]="'new_year_2023_text_5'">
      </div>
      <div class="section-2__description_right"
           [innerHtml]="'new_year_2023_text_6' | translate">
      </div>
    </div>
  </div>
</section>