<section class="section-new-year-2023-8">
  <div class="section-8__overlay"></div>
  <div class="section-8__background">
  </div>
  <div class="container">
    <div class="section-8__header">
      <h2 class="section-8__title"
          [fxTranslate]="'new_year_2023_text_28'"></h2>
      <a class="section-8__logo"
         mainWebsiteUrl
         target="_blank">
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
             alt="fxPro-logo"
             class="section-8__logo-img">
      </a>
    </div>
    <div class="section-8__description">
      <p class="section-8__description_left"
         [fxTranslate]="'new_year_2023_text_29'"></p>
      <p class="section-8__description_right"
         [fxTranslate]="'new_year_2023_text_30'"></p>
    </div>
  </div>
</section>