<section class="section-new-year-2023-5">
  <div class="section-5__content">
    <div class="background">
      <img class="background__image background__image_desktop"
           src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide5/ipos.webp"
           alt="IPOs">
      <img class="background__image background__image_mobile"
           src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide5/ipos-mob2.webp"
           alt="IPOs">
    </div>
    <div class="section-5__header">
      <h2 class="section-5__title"
          [fxTranslate]="'new_year_2023_text_19'">
      </h2>
      <a class="section-5__logo"
         target="_blank"
         mainWebsiteUrl>
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
             alt="fxPro-logo"
             class="section-5__logo-img">
      </a>
    </div>
    <div class="section-5__description">
      <div class="section-5__description_left"
           [fxTranslate]="'new_year_2023_text_20'">
      </div>
      <div class="section-5__description_right"
           [fxTranslate]="'new_year_2023_text_21'">
      </div>
    </div>
  </div>
</section>