<section class="section-new-year-2023-6">
  <div class="section-6__content">
    <div class="section-6__header">
      <h2 class="section-6__title"
          [fxTranslate]="'new_year_2023_text_22'">
      </h2>
      <a class="section-6__logo"
         target="_blank"
         mainWebsiteUrl>
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
             alt="fxPro-logo"
             class="section-6__logo-img">
      </a>
    </div>
    <div class="section-6__background">
      <div class="section-6__image-wrapper section-6__image-wrapper_left">
        <img class="background__image background__image_left"
             src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide6/img-left.webp"
             alt="Dubai office image.">
        <img class="background__blur background__blur_left"
             src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide6/img-left.webp"
             alt="Dubai office image.">
      </div>
      <div class="section-6__image-wrapper section-6__image-wrapper_right">
        <img class="background__image background__image_right"
             src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide6/img-right.webp"
             alt="Dubai office image №2.">
        <img class="background__blur background__blur_right"
             src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide6/img-right.webp"
             alt="Dubai office image №2.">
      </div>
    </div>
    <div class="section-6__description">
      <div class="section-6__description_left"
           [fxTranslate]="'new_year_2023_text_23'">
      </div>
      <div class="section-6__description_right"
           [fxTranslate]="'new_year_2023_text_24'">
      </div>
    </div>
  </div>
</section>