<section class="section-new-year-2023-11">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide11/pro-news-block1.webp" class="section-11__news_left">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide11/pro-news-block2.webp" class="section-11__news_right">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide11/pro-news-block1.webp" class="section-11__news_left-shadow">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide11/pro-news-block2.webp" class="section-11__news_right-shadow">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide11/pro-news-block-mob.webp" class="section-11__news_mob-top section-11__news_mob">
  <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide11/pro-news-block-mob.webp" class="section-11__news_mob-bottom section-11__news_mob">
  <iframe class="section-11__news_video" width="590" height="332" src="https://www.youtube.com/embed/5pJ76I7-dpA?autoplay=1&mute=1&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="section-11__wrapper_bg"></div>
  <div class="container">
    <div class="section-11__header">
      <h2 class="section-11__title" [fxTranslate]="'new_year_2023_text_50'"></h2>
      <h2 class="section-11__title_iphone" [fxTranslate]="'new_year_2023_text_51'"></h2>
      <a class="section-11__logo" mainWebsiteUrl target="_blank">
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
          alt="fxPro-logo"
          class="section-11__logo-img"
        >
      </a>
    </div>
    <div class="section-11__wrapper">
      <p class="section-11__info" [fxTranslate]="'new_year_2023_text_52'"></p>
     <div class="section-11__youtube-block">
        <a target="_blank" class="section-11__youtube-btn" href="https://www.youtube.com/user/FxProMarketing">
          <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide11/youtube-btn.svg">
        </a>
        <p class="section-11__youtube-text" [fxTranslate]="'new_year_2023_text_53'"></p>
        <a target="_blank" href="https://www.youtube.com/user/FxProMarketing" class="section-11__youtube-link">
          →
        </a>
     </div>
    </div>
  </div>
</section>
