<section class="section-new-year-2023-13">
  <div class="background">
    <canvas *ngIf="isDesktop"
            class="new-year-2023-slide-13"
            id="new-year-2023-slide-13">
    </canvas>
    <div *ngIf="!isDesktop"
         class="background__mobile">
    </div>
  </div>
  <div class="section-13__header">
    <h2 class="section-13__title"
        [fxTranslate]="'new_year_2023_text_61'"></h2>
    <a class="section-13__logo"
       mainWebsiteUrl
       target="_blank">
      <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/FxPro_Logo_Main_RedBG.svg"
           alt="fxPro-logo"
           class="section-13__logo-img">
    </a>
  </div>
  <div class="container">
    <div class="labels">
      <p class="label label-1"
         [fxTranslate]="'new_year_2023_text_57'"></p>
      <p class="label label-2"
         [fxTranslate]="'new_year_2023_text_58'"></p>
      <p class="label label-3"
         [fxTranslate]="'new_year_2023_text_59'"></p>
      <p class="label label-4"
         [fxTranslate]="'new_year_2023_text_60'"></p>
    </div>
  </div>
  <div class="section-13__footer">
    <p class="section-13__text"
       [fxTranslate]="'new_year_2023_text_62'"></p>
    <div class="section-13__btns">
      <a href="https://fxpro.onelink.me/uZNh/sckqh8mc"
         target="_blank"
         class="section-13__link">
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide13/ios.webp"
             alt=""
             class="section-13__link-img">
      </a>
      <a href="https://fxpro.onelink.me/uZNh/sckqh8mc"
         target="_blank"
         class="section-13__link">
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide13/android.webp"
             alt=""
             class="section-13__link-img">
      </a>
      <a href="https://fxpro.onelink.me/uZNh/sckqh8mc"
         target="_blank"
         class="section-13__link">
        <img src="https://direct-landings.azureedge.net/assets/img/pages/new-year-2023/slide13/huawei.webp"
             alt=""
             class="section-13__link-img">
      </a>
    </div>
  </div>
</section>